@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
:root {
    --default-width: 100%;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    position: relative;
}


/* ------------------------------------- CABEÇALHO ------------------------------------- */

header {
    width: var(--default-width);
    background-color: #FFF;
    position: fixed;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    left: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px;
}

nav ion-icon {
    font-size: 45px;
    cursor: pointer;
}


/* ------------------------------------- MAIN ------------------------------------- */

main {
    font-family: 'Roboto', sans-serif;
    padding-top: 100px;
    background-color: #F3F3F3;
    width: var(--default-width);
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.checkmark {
    color: #FFF;
}

section {
    padding: 10px;
    margin-bottom: 4px;
    display: flex;
    align-items: center;
}

section .name {
    font-size: 15px;
    font-weight: 700;
}

.online-offline {
    background-color: #DCDCDC;
}

.message {
    background-color: #FFFFFF;
}

.private-message {
    background-color: #FFDEDE;
}

section .time {
    color: #AAA;
    font-size: 15px;
    font-weight: 400;
}

section div p {
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    margin-top: 4px;
}


/* ------------------------------------- FOOTER ------------------------------------- */

footer {
    position: fixed;
    width: var(--default-width);
    bottom: 0;
    height: 80px;
    background-color: #FFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}

footer div {
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
}

footer input {
    border: none;
    height: 100%;
    width: 90%;
    font-size: 20px;
    cursor: pointer;
    outline: none;
    padding-left: 20px;
    position: relative;
}

footer div p {
    position: absolute;
    bottom: 8px;
    left: 20px;
    color: #AAA;
    font-size: 18px;
    font-weight: 300;
}

footer input::placeholder {
    color: black;
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
}

footer ion-icon {
    font-size: 30px;
    cursor: pointer;
    z-index: 1;
    margin-right: 2%;
}

.body-fixed {
    overflow: hidden;
}


/* ------------------------------------- MENU ------------------------------------- */

.hide {
    display: none;
}

aside {
    z-index: 1;
    position: fixed;
}

.login {
    background-color: #FFF;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.menu {
    display: flex;
    width: 70%;
    z-index: 1;
    bottom: 0;
    top: 0;
    right: 0;
    position: fixed;
    background-color: #FFF;
    flex-direction: column;
    overflow: auto;
}

.clickable-background {
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    bottom: 0;
    top: 0;
}

.menu p {
    font-size: 18px;
    font-weight: 400;
    margin-left: 10px;
    cursor: pointer;
}

.menu .contacts div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
}

.menu ion-icon {
    font-size: 25px;
    cursor: pointer;
}

.menu span {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin: 30px;
}

.menu .visibility div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
}

.mark {
    color: #28bb25;
}